.tier-zero,
.tier-one,
.tier-two {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 8px;
  transition: box-shadow 0.7s ease-in-out, border 0.1s ease-in-out;
}

.tier-zero {
  padding: 16px;
  justify-content: flex-start;
}

.tier-one {
  background-color: #5a45f2;
  padding: 40px;
  justify-content: center;
}

.tier-two {
  padding: 48px 21px 48px 48px;
  justify-content: flex-end;
}

.heading-img {
  margin-bottom: 16px;
}

.available-perks_tier-zero,
.available-perks_tier-one,
.available-perks_tier-two {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.available-perks_tier-one > .list-element {
  color: #fff;
}

li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.available-perks_tier-two > li {
  margin-bottom: 12px;
}

.available-perks_tier-two > li:last-child {
  margin-bottom: 16px;
}

.available-perks_tier-zero > li:nth-child(n + 4) {
  opacity: 0.2;
}

.available-perks_tier-one > li:nth-child(n + 6) {
  opacity: 0.5;
}

.check-icon {
  margin-right: 10px;
}

@media (min-width: 400px) {
  .tier-zero:hover,
  .tier-one:hover,
  .tier-two:hover {
    border: 2px solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
