.tier-zero,
.tier-one,
.tier-two {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.tier-zero {
  padding: 16px;
  justify-content: flex-start;
}

.tier-one {
  background-color: #5a45f2;
  padding: 40px;
  justify-content: center;
}

.tier-two {
  padding: 48px 21px 48px 48px;
  justify-content: flex-end;
}

.heading-img {
  margin-bottom: 16px;
}

.available-perks_tier-zero,
.available-perks_tier-one,
.available-perks_tier-two {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.available-perks_tier-one > .list-element {
  color: #fff;
}

li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.available-perks_tier-two > li {
  margin-bottom: 12px;
}

.available-perks_tier-zero > li:nth-child(n + 4) {
  opacity: 0.2;
}

.available-perks_tier-one > li:nth-child(n + 6) {
  opacity: 0.5;
}

.check-icon {
  margin-right: 10px;
}
